footer {
    padding: 44px 0 24px 0;
}

.footer-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 41px;

    h5 {
        color: #163A24;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
    }
}

.footer-img {
    display: flex;
    align-items: center;
    gap: 0 14px;
}

.footer-hero {
    width: 1180px;
    height: 1px;
    background: #F2EFE6;
    margin-bottom: 25px;
}

.footer-end {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-list {
        display: flex;
        align-items: center;
        gap: 0 14px;

        a {
            color: #198C36;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
        }
    }
}