.main-list-1 {
    background: #F2EFE6;
    text-align: center;
    padding: 114px 0 135px 0;

    &-text h2 {
        margin: 0 auto;
        width: 739px;
        color: #163A24;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px;
        margin-bottom: 27px;
    }

    &-text p {
        width: 760px;
        margin: 0 auto;
        color: #163A24;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 2px;
    }
}